.kratke{
  width: 80px;
}

/* Chrome, Safari, Edge, Opera */
#casId::-webkit-outer-spin-button,
#casId::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#casId[type=number] {
  -moz-appearance: textfield;
}