#vyberId{
  font-size: 2em;
  background-color: lightblue;
}
#vlozId{
  font-size: 2em;
  background-color: lightblue;
}
.urediCls{
  font-size: 2em;
  background-color: gold;
}
.urediCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.odstraniCls{
  font-size: 2em;
  background-color: pink;
}
.odstraniCls:hover{
  font-size: 2em;
  background-color: lightYellow;
}
.submit{
  font-size: 2em;
  background-color: lightGreen;
}
input {
   /*background-color: yellow; 
     width: auto;
	   text-overflow: ellipsis;*/
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: yellow;
}

#sklep {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
 /* max-width:300px;*/
  top: 50px;
  width: 30%;
}
	
 tr:hover {
  background-color: yellow;
}

td {
  text-align: center;
}

th, td {
  padding: 5px;
}

.glavaTable {
  position: sticky;
  top: 6%;	
  overflow: hidden;
  background-color: Cornsilk;
}

.pogojiDiv {
position: fixed;
top: 50px;
left: 410px;
background-color: lightblue;
  opacity: 0.8;
width: 400px;;
}

#pogojId {
/*position: fixed;	
top: 40px;
left: 400px;*/
position: relative;	
}

#posli {
position: relative;	
/*position: fixed;	
top: 200px;*/	
left: 50px;	
}