body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
      height:200vh;
}

.topnav {
  position: sticky;
  top: 0;	
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

input {
   /*background-color: yellow; 
     width: auto;
	   text-overflow: ellipsis;*/
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: yellow;
}

#sklep {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  max_width:500px;		
}
	
 tr:hover {
  background-color: yellow;
}

.imenaFilov {
	padding: 0px 0px 0px 10px ;
}

#poPotrebi {
	  color: white;
  font-size: 40px;
}
#uname {
color: white;
  font-size: 40px;
}

div.notranji {
  position: absolute;
  top: -16px;
  right: 0;
  padding: 20px;
  width: 300px;
  /*height: 100px;*/
  /*border: 3px solid #73AD21;*/
}

div.glavni {
  position: relative;
  width: 670px;
    padding: 20px;
 /* height: 100px;*/
 /* border: 3px solid #73AD21;*/
} 

#opravilaId{
  width: 200px;	
}